<p>Recipes will go here...Once the database is working.</p>

<h1>Recipes: </h1>
{{#each recipes}}
    <div class="recipe">
        <h3>{{recipe_name}}</h3>
        <p>Category: {{category}}</p>
        <p>Rating: {{rating}}</p>
        <p>{{description}}</p>
        <p>Submitted by: {{user}}</p>
        <p>Ingredients: </p>
        <ul id="ingredients_list">
            {{ingredients}}
        </ul>
        <p>Instructions: </p>
        <ul id= "steps_list">
            {{steps}}
        </ul>
        <p>Notes: </p>
        <ul id = "notes_list">
            {{notes}}
        </ul>
    </div>
{{/each}}
