<h1>Welcome to Just the Juice!</h1>
<div class="carousel-wrapper">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/img/coffee.jpg" href="#" alt="Coffee recipes">
                <div class="carousel-caption">
                    <a href="recipes"><h2>Coffee Recipes</h2>
                        <p>Cappuccinos, Lattes and more</p></a>
                </div>
            </div>
            <div class="item">
                <img src="/img/smoothie.jpg" href="#" alt="Smoothie recipes">
                <div class="carousel-caption">
                    <a href="recipes"><h2>Smoothie Recipes</h2>
                        <p>jsdjashdjsakhfjksdhjfha</p></a>
                </div>
            </div>
            <div class="item">
                <img src="/img/tea.jpg" alt="Tea recipes">
                <div class="carousel-caption">
                    <a href="recipes"><h2>Tea Recipes</h2>
                    <p>jsdjashdjsakhfjksdhjfha</p></a>
                </div>
            </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
    </div>
</div>

<h2>Recipe of the Day: </h2>

<div class="recipe">
    <h2>{{recipe_name}}</h2>
    <p>Uploaded by: {{user}}</p>
    <p>Category: {{category}}</p>
    <p>Rating: {{rating}}/5</p>
    <p>Description: </p>
    <p>{{description}}</p>
    <h3>Ingredients: </h3>
    <ul id="ingredients_list">
        {{#each ingredients}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <h3>Instructions: </h3>
    <ol>
        {{#each steps}}
            <li>{{this}}</li>
        {{/each}}
    </ol>
    {{#if notes}}
        <p>Notes: </p>
        <ul>
            {{#each notes}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    {{/if}}
    <button type="button" class="btn">Add to Favourites</button>
</div>

